### 1. What are data structures, and why are they important?
Data structures are organized ways to store and manage data efficiently. They are important because they help optimize data access, modification, and storage depending on the task.

### 2. Difference between mutable and immutable data types with examples
Mutable types can be changed after creation (e.g., lists, dictionaries). Immutable types cannot be changed after creation (e.g., strings, tuples).

### 3. Differences between lists and tuples in Python
Lists are mutable, slower, and written with []. Tuples are immutable, faster, and written with ().

### 4. How dictionaries store data
Dictionaries store data as keyâ€“value pairs using a hash table internally.

### 5. Why might you use a set instead of a list in Python
Sets automatically remove duplicates and provide faster membership tests.

### 6. What is a string in Python, and how is it different from a list
A string is an immutable sequence of characters, whereas a list is mutable and can store different data types.

### 7. How tuples ensure data integrity
Tuples are immutable, so their values cannot be changed, ensuring data remains constant.

### 8. What is a hash table, and how does it relate to dictionaries
A hash table maps keys to values using a hashing function; dictionaries use hash tables internally.

### 9. Can lists contain different data types?
Yes, lists can contain mixed data types.

### 10. Explain why strings are immutable
Strings are immutable to ensure memory efficiency, security, and reliable hashing.

### 11. Advantages dictionaries offer over lists
Dictionaries provide fast lookups using keys and are better for structured data.

### 12. How sets handle duplicate values
Sets automatically remove duplicate values.

### 13. Scenario where a tuple is preferable over a list
When you want constant, unmodifiable data like coordinates or configuration values.

### 14. How the 'in' keyword works differently for lists and dictionaries
For lists, 'in' checks values; for dictionaries, 'in' checks only keys.

### 15. Can you modify elements of a tuple?
No, tuples are immutable, so elements cannot be changed.

### 16.What is a nested dictionary, and give an example of its use case
A dictionary containing another dictionary. Example: {'student': {'name': 'Ayu', 'age': 21}}.

### 17. Describe the time complexity of accessing elements in a dictionary
Average time complexity is O(1).

### 18. In what situations are lists preferred over dictionaries
When order matters or you only need a simple sequence of items.

### 19. Why dictionaries are considered unordered and how does that affect data retrieval
Because they store data based on hash values, not sequence order.

### 20. Difference between a list and a dictionary in terms of data retrieval
Lists retrieve items by index; dictionaries retrieve items by key.

# Practical Questions

# Q1 Write a code to create a string with your name and print it

In [1]:
a="Ayush"
print(a)

Ayush

# Q2 Write a code to find the length of the string "Hello World"

In [2]:
a="Hello World"
len(a)

11

# Q3 Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
a="Python Programming"
a[0:3]

'Pyt'

# Q4 Write a code to convert the string "hello" to uppercase

In [6]:
a='hello'
print(a.upper())

HELLO

# Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [8]:
a=" I like apple"
print("Before replacing-:",a)

Before replacing-:  I like apple

# Q6 Write a code to create a list with numbers 1 to 5 and print it

In [11]:
n=list(range(1,6))
n

[1, 2, 3, 4, 5]

# Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]

In [12]:
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

# Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [13]:
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

# Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [15]:
a=['a', 'b', 'c', 'd']
a[1]

'b'

# Q10 Write a code to reverse the list [10, 20, 30, 40, 50]

In [16]:
lst=[10,20,30,40,50]
lst[::-1]

[50, 40, 30, 20, 10]

# Q11  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [17]:
a=(100,200,300)
print(a)

(100, 200, 300)

# Q12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [19]:
b=('red', 'green', 'blue', 'yellow')
b[1:]
print(b[1:])

('green', 'blue', 'yellow')

# Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [20]:
t=(10,20,5,15)
print(min(t))

5

# Q14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [22]:
t=('dog', 'cat', 'rabbit')
t.index('cat')

1

# Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [23]:
t=('apple','kiwi','banana')
'kiwi' in t

True

# Q16  Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [24]:
a={'a','b','c'}
print(a)

{'b', 'c', 'a'}

# Q17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [25]:
a={1, 2, 3, 4, 5}
a.clear()

In [26]:
a

set()

# Q18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [27]:
a={1,2,3,4}
a.remove(4)
a

{1, 2, 3}

# Q19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [28]:
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

# Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [29]:
s1={1,2,3}
s2={2,3,4}
print(s1.intersection(s2))

{2, 3}

# Q21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [30]:
dic={
    'name':'Ayush',
    'age':25,
    'city':'Noida'
}
print(dic)

{'name': 'Ayush', 'age': 25, 'city': 'Noida'}

# Q22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [31]:
d={'name': 'John', 'age': 25}
d['country']='USA'
d

{'name': 'John', 'age': 25, 'country': 'USA'}

# Q23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [32]:
d={'name': 'Alice', 'age': 30}
d['name']

'Alice'

# Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [33]:
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
del a['age']

In [34]:
a

{'name': 'Bob', 'city': 'New York'}

# Q25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [36]:
a={'name': 'Alice', 'city': 'Paris'}
if "city" in a:
    print("Key Exist")
else:
    print("No Key Exist")

Key Exist

# Q26  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [37]:
a=[1,2,3,4]
b=(1,2,3,4)
c={'name': 'Alice', 'city': 'Paris'}
print(a)
print(b)
print(c)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Alice', 'city': 'Paris'}

# Q27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [38]:
import random

numbers = []        

# add 5 random numbers using a simple loop
for i in range(5):
    numbers.append(random.randint(1, 100))

numbers.sort()        

print(numbers)

[19, 20, 49, 69, 97]

# Q28 Write a code to create a list with strings and print the element at the third index

In [39]:
a=['ayush','saxena','Tester','DS']

In [40]:
a[3]

'DS'

# Q29 Write a code to combine two dictionaries into one and print the result

In [41]:
dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict2={'occ':'Data Scientist','mobile':12345}
dict1.update(dict2)

In [42]:
dict1

{'name': 'Bob',
 'age': 22,
 'city': 'New York',
 'occ': 'Data Scientist',
 'mobile': 12345}

# Q30  Write a code to convert a list of strings into a set.

In [43]:
a=['ayush','saxena','Tester','DS']
b=set(a)
print(b)

{'DS', 'Tester', 'ayush', 'saxena'}